:root {
    --primary-color: #1a1a1a;
    --background: #F5F5F5;
    --accent-color: #C80036;
}



.searchbar-cont{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


body{
    background-color: var(--background);
}