
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
  

  .search-input {
    width: 300px;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid var(--accent-color);
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #ffffff;
    color: var(--primary-color);
  }
  
  .search-input:focus {
    border-color: #a5002d;
    box-shadow: 0 0 5px rgba(200, 0, 54, 0.3);
  }
  

  .search-button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: var(--accent-color);
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-button:hover {
    background-color: #a5002d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-button:active {
    transform: translateY(1px);
    box-shadow: none;
  }
  

  @media (max-width: 480px) {
    .search-container {
      flex-direction: column;
      width: 100%;
    }
  
    .search-input {
      width: calc(100% - 40px);
      margin-bottom: 10px;
    }
  
    .search-button {
      width: 100%;
    }
  }